<h1> Hello from Rails!</h1>

<p>It is now <%= Time.now %></p>

<p>It is now  desde controller <%= @tiempo %></p>
<p><a href="/say/goodbye/">GoodBye</a>!</p>

<p> con route <%= link_to 'Goodbye', say_goodbye_path %></p>
